<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <h1 th:text="${header}"></h1>
    <tr>
        <th>First Article</th>
        <th>Second Article</th>
        <th>Third Article</th>
        <th>Fourth Article</th>
        <th>Fifth Article</th>
    </tr>
    <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam consectetur,
            deleniti dolor doloremque ducimus eligendi in ipsam iste iusto libero nisi omnis quod sint
            ut veritatis vitae? Autem, ratione!</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam architecto assumenda atque corporis,
            culpa delectus deleniti, doloremque, ea eaque explicabo facilis nemo odit perferendis possimus quam quibusdam rerum sunt!</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolorum et maiores maxime nemo odit,
            perferendis quae quas quo repellat, sint totam vitae voluptatem! Dicta ea eligendi nam possimus quis!</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur atque deleniti expedita ipsum,
            itaque minima minus nemo obcaecati officia, ratione reiciendis soluta! Error facere id officia, praesentium saepe veritatis?</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur cum deserunt dicta dolor eius eos eum,
            facilis illo ipsa iste, natus nobis nulla pariatur quam rerum sequi sint temporibus.</td>
    </tr>
</table>
</body>
</html>